[package]
name = "assistant"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
futures = "0.3.31"
ratatui = "0.29.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tokio = { version = "1.48.0", features = ["rt", "macros", "sync", "net"] }
tokio-util = { version = "0.7.17", features = ["codec"] }
tui-textarea = "0.7.0"
